[submodule "kgt-react"]
	path = kgt-react
	url = git@github.com:PegasusMKD/kgt-react.git
	branch = master
[submodule "kgt-registry"]
	path = kgt-registry
	url = git@github.com:PegasusMKD/kgt-registry.git
	branch = master
[submodule "kgt-gateway"]
	path = kgt-gateway
	url = git@github.com:PegasusMKD/kgt-gateway.git
	branch = master
[submodule "kgt-authorization"]
	path = kgt-authorization
	url = git@github.com:PegasusMKD/kgt-authorization.git
	branch = master
[submodule "kgt-ml-train"]
	path = kgt-ml-train
	url = git@github.com:PegasusMKD/kgt-ml-train.git
	branch = master
[submodule "kgt-feedback"]
	path = kgt-feedback
	url = git@github.com:PegasusMKD/kgt-feedback.git
	branch = master
[submodule "kgt-ml-prediction"]
	path = kgt-ml-prediction
	url = git@github.com:tasevsky/flask-ml.git
[submodule "kgt-ontology"]
	path = kgt-ontology
	url = git@github.com:Tijana37/kgt-ontology.git
	branch = master
